.block-img {        
    @include size (340px, 275px);
    @include pos(relative, $r:-59px);
    margin-bottom: 65px;
    margin-right: -15px;
    text-align: right;

    &::before {
        @include size(100%);
        background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
        @include pos ($t: 16px, $r: 16px);
        border-radius: 3px 0px 0px 3px;  
        z-index: -1;      
        content: '';
    }           

    &__image {
        display: inline-block;
        border-radius: 3px 0px 0px 3px;
        position: relative;

        &--play {
            @include size (60px);
            @include pos (absolute, $t:112px, $l:138px);
            background: #fff;
            border-radius: 50%;
            text-align: center;
            
        }

        &--triangle {
            margin-top: 23px;
        }
    }       
}