.block-img {        

    margin-bottom: 65px;
    margin-right: 0;
    @include size (340px, 275px);
    @include pos (relative, $r:-15px);


    &::before {
        background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
        @include size (100%);
        @include pos ($t: 16px, $r: 16px);
        border-radius: 3px 0px 0px 3px;
        z-index: -1;
        content: '';
    }

    &__play {
        @include pos (absolute, $t:50%, $l:50%);
        transform: translateX(-50%), translateY(50%);
        width: 60px;
        height: 60px;
        background: #fff;
        border-radius: 50%;
        text-align: center;
        

    }
}