.button{
   width: 170px;
   background: var(--yellow);
   border: 1px solid transparent;
   border-radius: 24px;
   display: inline-block;
   text-align: center;
   padding: 12px;
   font-weight: 700;
   cursor: pointer;
   transition: all .3s ease;
   position: relative;
   z-index: 2;
   &--navigation{
      background: transparent;
      border-color: rgba(255, 255, 255, 0.3);
   }
   &--images{
      background: #C86DD7;
      display: block;
      margin: 0 auto;
      color: #fff;
   }
   &--omnis{
      background: #C86DD7;
      margin-bottom: 50px;
      color: #fff;
   }
}

@media (min-width: $mobile){
   .button{
      &:hover{
         background: var(--hover);
         border-color: rgba(255, 255, 255, 0.3);
         transform: scale(1.1);
      }
   }
}