.gallery{
   background: #FDF2FF;
   padding: 30px 0 50px;
   &__nav{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 15px;
   }
   &__list{
      margin: 0 30px 25px 0;
      color: var(--color-opac);
      cursor: pointer;
      &--active{
         color: var(--color);
      }
   }
}
@media (min-width: $mobile){
   .gallery{
      &__list{
         transition: all .3s ease;
         &:hover{
            color: var(--hover);
            transform: scale(1.1);
         }
      }
   }
}
