.tempo{
   background: left, #3023AE;
   background-size: cover;
   color: #fff;
   margin: 0 -15px 0 -15px;
   &__circle{
      @include size(100px);
      @include pos(relative, $t:-30px, $r: -65px);
      background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
      border-radius: 50%;
      float: right;
      margin-bottom: 30px;
   }
   &__wrapper{
      min-height: 100vh;  
      position: relative;
      overflow: hidden;
      text-align: center;
      &::before{
         @include size(323px);
         @include pos(absolute, $b:-30%, $l:-50%);
         content: '';
         border-radius: 50%;
         background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
      }
   }
   &__img{
      display: block;
      margin: 0 auto;
   }
}

@media (min-width: $mobile) {
   .tempo{
      &__wrapper{
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      &__items{
      width: 40%;
      }
      &__img{
         margin: 0;
      }
   }
}