.tempo{
   background: #3023AE;
   color: #fff;
   padding: 100px 0 80px;
   position: relative;
   &__container{
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   &__wrapper{
      position: relative;
      text-align: center;
      &::before{
         @include size(100px);
         @include pos(absolute, $t:-150px, $r:-60px);
         content: '';
         background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
         border-radius: 50%;
      } 
   }
}

@media (min-width: $mobile){
   .tempo{
      &__container{
         flex-direction: row;
         justify-content: space-between;
      }
      &__wrapper{
         text-align-last: left;
         &::before{
            right: 0;
         }
      }
      &__items{
         width: 40%;
      }
   }
}