.logo{
   font: 700 24px $title;
   text-transform: uppercase;
   color: var(--color);
}
.subtitle{
   font-weight: 700;
   font-family: $title;
   text-transform: uppercase;
   margin-bottom: 15px;
}
.title{
   font: 700 40px/48px $title;
   margin-bottom: 25px;
}
.text{
   line-height: 24px;
   color: var(--color-opac);
   &--gallery{
      margin-bottom: 45px;
   }
   &--tempo{
      color: #fff;
      margin-bottom: 30px;
   }
   &--omnis{
      margin-bottom: 30px;
      color: var(--color);
   }
}
@media (min-width: $mobile) {
   .logo{
      font-size: 40px;
      color: #fff;
      transition: all .4s ease;
      &:hover{
         color: var(--hover);
         transform: scale(1.1);
      }
   }
   .title{
      font-size: 56px;
      line-height: 64px;
      margin-bottom: 55px;
   }
   .text{
      &--gallery{
         width: 50%;
      }
      &--omnis{
         margin-bottom: 30px;
         color: var(--color);
      }
   }
   .info{
      display: flex;
      justify-content: space-between;
   }
}