.fugiat {
    padding-top: 40px;
    text-align: center;

    &__title {
    font-size: 40px;
    font-weight: 700;
    font-family: $title;
    margin-bottom: 25px;
    }

    &__text {
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 60px;
    }

    &__info {
        padding: 0 26px;
        margin-bottom: 65px;

        &--title {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        &--text {
            line-height: 24px;
            opacity: .5;
        }
    }
}
