.header {
   background: url("../images/header.png") no-repeat center 20vh,
      linear-gradient(224.72deg, #3023ae -1%, #c86dd7 100.5%);
   background-size: cover;
   color: #fff;
   position: relative;
   &__box {
      position: relative;
      min-height: 100vh;
   }
   &__navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__title {
      font: 700 56px/64px $title;
      margin-bottom: 25px;
   }
   &__text{
      line-height: 24px;
      margin-bottom: 35px;
   }
}

@media (max-width: $mobile) {
   .header {
      &__navigation {
         background: #fff;
         margin: 0 -15px 15px;
         padding: 15px;
      }
   }
}

@media (min-width: $mobile-sm) {
   .header {
      &__wrapper {
         width: 50%;
         margin-top: 20vh;
      }
      &__title {
         font-size: 72px;
      }
   }
}

@media (min-width: $mobile) {
   .header {
      background: url("../images/header-sm.png") no-repeat right 20vh,
         linear-gradient(224.72deg, #3023ae -1%, #c86dd7 100.5%);
         &__box{
            padding-top: 30px;
         }
   }
}

@media (min-width: $desktop) {
   .header {
      &__wrapper {
         width: 33%;
      }
   }
}
