.ullam {
    padding-top: 30px;
    padding-bottom: 1px;

    &__subtitle {
        font: 700 16px $title;
        margin-bottom: 20px;
    }

    &__title{
        font: 700 40px $title;
        line-height: 48px;
        margin-bottom: 25px;
    }

    &__text {
        line-height: 24px;
        opacity: .5;
        margin-bottom: 45px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        
        

        &--item{
            display: inline-block;
            margin-right: 32px;
            margin-bottom: 25px;
            font-weight: 400;
            opacity: .5;

            &:first-child {
                font-weight: 600;
                opacity: 1;
            }

            &:last-child {
                margin-bottom: 45px;
            }

            
        }
    }

    &__images {
        display: flex;
        flex-direction: column;

        &--img {
            border-radius: 3px;
            margin-bottom: 20px;
        }
    }

    &__btn {
        display: block;
        background: var(--pink);
        color: #fff;
        margin: 0 auto 50px;
    }
}